#detail{

 
  

}
h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(205, 255, 205);
  font-family: 'Lucida Sans Regular';
}
#list{
  position: relative;
 
}